:root {
    --size: .8;
}

body {
    width: 300px;
    height: auto;
    margin-bottom: 10px;
    font-family: arial, sans-serif;
}

h1 {
    text-align: center;
}

p {
    margin: 10px 0px;
    font-size: larger;
    justify-content: center;
    align-items: center;
}

.setting-name {
    margin-top: 35px;
    margin-bottom: 5px;
    font-size: large;
    font-weight: bolder;
}

.email {
    margin-left: 11px;
    color: #444;
    font-size: 14px;
}

input {
    margin-top: 10px;
    border: #ccc solid 1px;
    width: 278.4px;
    height: 23.4px;
    padding: 0px 10px;
    font-size: larger;
    border-radius: 12.5px;
}

div.reset {
    position: relative;
}

.reset img {
    position: absolute;
    right: 0;
    margin-top: 11px;
    margin-right: 1px;
    width: 23.4px;
    height: 23.4px;
    border: none;
    cursor: pointer;
    border-radius: 11.7px;
    transition: all .4s;
}

.reset img:hover {
    background-color: #eee;
}

.reset img:active {
    background-color: #ccc;
}

.flex-box {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.switch {
    position: relative;
    display: inline-block;
    width: calc(60px * var(--size));
    height: calc(34px * var(--size));
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: calc(26px * var(--size));
    width: calc(26px * var(--size));
    left: calc(4px * var(--size));
    bottom: calc(4px * var(--size));
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(calc(26px * var(--size)));
    -ms-transform: translateX(calc(26px * var(--size)));
    transform: translateX(calc(26px * var(--size)));
}

.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}